<div class="cards_wrapp flex items-center h-full flex-col justify-center">
  <div class="cards grid grid-cols-5 grid-rows-2 m-auto" *ngIf="!loading">
    <div class="card hover:scale-105 cursor-pointer transition-all card__image" *ngFor="let card of currentPageItems">
      <img (click)="showDetails(card)" src="https://art.hearthstonejson.com/v1/render/latest/enUS/256x/{{card.cardId}}.png" class="" alt="">
    </div>
  </div>
  <form action="" class="pagination flex flex-col items-center mb-10">
    <p class="font_cinzel text-white text-2xl font-bold">Page {{page}} of {{totalPages}}</p>
    <div class="inline-flex items-center -space-x-px">
      <!--PREVIOUS PAGE BTN-->
      <button (click)="changePage($event,false)" class="block {{page === 1 ? 'pointer-events-none filter brightness-50' : ''}} mr-2 px-3 py-2 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
      </button>
      <!--NEXT PAGE BTN-->
      <button (click)="changePage($event,true)" class="block ml-2 px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
      </button>
    </div>
    </form>
</div>
